BASKET_HOST="127.0.0.1"
BASKET_PORT=7000

MONGODB_URI=mongodb://localhost:7005/
BASKET_DB=basket

EMBEDDING_MODEL_NAME=Qwen/Qwen3-Embedding-0.6B
RERANKER_MODEL_NAME=cross-encoder/ettin-reranker-32m-v1

LLM_PORT=7001
STT_PORT=7002
TTS_PORT=7003
NGINX_PORT=7004
LM_STUDIO_API_KEY="lm-studio"

PRODUCTION=False